body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  margin: 0 auto 40px;
  max-width: 960px;
  padding: 0 40px;
}

img {
  max-width: 100%;
}

a,
a:visited {
  color: #800;
  text-decoration: none;
}

h1 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  font-size: 28px;
  text-align: center;
}

h2, h3, h4 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  text-align: center;
}

p {
  max-width: 500px;
  margin: 1em auto;
  text-align: justify;
}

/* Header */

header {
  align-items: center;
  border-bottom: 1px solid #888;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 30px;
  margin: 20px 0 0 0;
  padding: 10px;
  text-align: center;
}

header h1 {
  font-size: 34px;
  margin: 0;
}

header h1 a,
header h1 a:visited {
  color: #000;
  text-decoration: none;
}

.contact {
  display: inline;
  margin: 0 0 0 10px;
}

.btn {
  border-radius: 10px;
  border: 1px solid #999;
  padding: 5px 10px;
}

a.btn, 
a.btn:visited {
  color: #555;
  text-decoration: none;
}

/* Nav */

nav ul {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  text-align: center;
  width: 200px;
}

.nav-secondary {
  border-bottom: 1px solid #777;
}

/* Banner */

.banner {
  width: 100%;
  max-width: 100%;
  max-height: 100px;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
}

/* Content */

.content {
  padding: 0 30px;
  width: 70%;
  margin: 0 auto;
}

.content ul {
  max-width: 500px;
  margin: 0 auto;
}

table {
  display: none;
}

/* Flex rules */

.flex-container {
  align-items: top;
  display: flex;
  justify-content: space-evenly;
  margin: -3px 0 0 0;
  padding: 0;
  width: 100%;
}

.reverse-wrap {
  flex-wrap: reverse-wrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.webthumb {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  float: left;
  margin: 1% 1% 30px 1%;
  min-width: 200px;
  padding-bottom: 10px;
  text-align:center;
  width: 30%;
}

.webthumb-link {
  line-height: 20px;
  padding: 10px;
}

.webthumb-desc {
  padding: 10px;
}

.webthumb img {
  border-radius: 0px;
  height: 100px;
  min-width: 200px;
  width: 100%;
}

.dropdown {
  display: block;
}

/* Responsive query below 510px */

@media only screen and (max-width: 510px) {
  header {
    justify-content: center;
  }

  header h1 {
    font-size: 22px;
  }

  .header-buttons {
    display: none;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav li {
    display: block;
    padding: 10px 0;
  }

  .webthumb-link {
    padding: 10px 10px 0 10px;
  }

  p {
    text-align: center;
  }

  .content p {
    text-align: left;
  }

  .content li {
    margin: 0 0 10px -20px;
  }

}

@media only screen and (max-width: 330px) {
  header h1 {
    font-size: 20px;
  }
}
